<h1> Recipe Box </h1>

<form action="/recipes" method="post">

  <label for="name">Recipe name:</label>
  <input id="name" name="name" type="text">

  <label for="instructions">Recipe instructions:</label>
  <input id="instructions" name="instructions" type="text">

  <label for="category">Recipe category:</label>
  <input id="category" name="category" type="text">


  <button type="submit">Add Recipe</button>
</form>

<% if @recipes.any?() %>
  <h3>Recipes:</h3>

  <ul>
    <% @recipes.each() do |recipe| %>
      <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet!</p>
<% end %>
